# Node.js dependencies
/backend/node_modules
/frontend/node_modules

# Build output
/frontend/dist
/frontend/Build

# Environment variables
/frontend/.env
/backend/.env

# Logs
/.log
/frontend/.log
/backend/.log
